{% extends 'base.html' %}

{% block 'main' %}


        

                <div class="col-md-4 mt-5">
                    <form method="POST" action="/dashboard">
                        {% csrf_token %}
                            <h1 class="bg bg-primary text-white text-center">TODO FORM</h1>
                            <div class="mb-3">
                                <label for="id_title" class="form-label">Title</label>
                                <input type="text" class="form-control" name="title" id="id_title" placeholder="Enter Title">
                            </div>
                            <div class="mb-3">
                                <label for="id_details" class="form-label">Details</label>
                                <textarea class="form-control" name="detail" id="id_details" rows="3"></textarea>
                            </div>

                            <div class="mb-3">

                                <select class="form-select" name="cat" aria-label="Default select example">
                                    <option selected>Open this select menu</option>
                                    <option value="p">Pesonal</option>
                                    <option value="o">Office</option>

                                </select>

                            </div>

                            <div class="mb-3">

                                <label for="id_date" class="form-label">Date</label>
                                <input type="date" class="form-control" name="date" id="id_date">

                            </div>
                            <input class="btn btn-primary" type="submit" value="Create">
                    </form>    
                </div>

                        <div class="col-md-8 mt-5">
                            <h1 class="bg bg-primary text-white text-center">Task</h1>
                            <table class="table table-hover table-bordered">
                                <thead>
                                <tr>
                                    <th scope="col">Title</th>
                                    <th scope="col">Details</th>
                                    <th scope="col">Category</th>
                                    <th scope="col">Date</th>
                                    <th scope="col">Edit</th>
                                    <th scope="col">Delete</th>
                                </tr>
                                </thead>
                                <tbody>

                                    {% for x in data %}

                                        <tr>
                                            <td>{{x.title}}</td> 
                                            <td>{{x.detail}}</td> 
                                            <td>{{x.cat}}</td> 
                                            <td>{{x.date}}</td> 
                                            <td><a href="edit/{{x.id}}"><button class="btn btn-warning">Edit</button></a></td>
                                            <td><a href="delete/{{x.id}}"><button class="btn btn-danger">Delete</button></a></td>
                                        </tr>                                 
                                    {% endfor %}
                                
                                
                                </tbody>
                            </table>

                    
                </div>
        </div>

{% endblock 'main' %}

